* * {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box; }

* a {
  display: block;
  color: inherit;
  text-decoration: none; }

* p a {
  display: inline-flex; }

* h1, * h2, * h3, * h4, * h5, * h6, * strong {
  font-size: inherit;
  font-weight: inherit; }

* img {
  width: 100%;
  display: block;
  object-fit: cover; }

* .clear::after {
  content: '';
  display: block;
  clear: both; }

select {
  background-color: rgba(187, 200, 237, 0.5);
  border-radius: 1.5em;
  padding: 1em;
  margin: 0.5em;
  width: 40%;
  font-family: inherit;
  font-size: 1em;
  color: #2A3B52;
  flex: 1; }

.sliderSection {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-family: "Work Sans";
  color: #2A3B52;
  padding: 1em; }
  .sliderSection .slider_range {
    height: 1em;
    margin: 0 1em; }
  .sliderSection .slider_value {
    display: inline-block;
    width: 2em;
    color: #2A3B52;
    text-align: center;
    border-radius: 20%;
    background: rgba(187, 200, 237, 0.5);
    padding: .3em; }

.field {
  padding: 0 2em;
  margin: 0.5em 2em;
  width: 100%;
  background-color: white;
  background: linear-gradient(to right bottom, rgba(255, 255, 255, 0.4), rgba(255, 255, 255, 0.5));
  border-radius: 1.5em; }
  .field .tittleDiv {
    padding: 1em 0 0 0; }
    .field .tittleDiv h2 {
      font-family: "Montserrat";
      font-weight: 700;
      color: #1F2B3C;
      font-size: 1em; }
    .field .tittleDiv .line {
      background-color: #1F2B3C;
      opacity: 0.5;
      width: 100%;
      height: 2px;
      border-radius: 50%; }
  .field .textArea {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 1em;
    font-family: "Work Sans";
    color: #2A3B52;
    font-weight: 600; }
    .field .textArea .item {
      display: flex;
      justify-content: space-evenly;
      flex: 1;
      align-items: center; }
    .field .textArea input[type='text'], .field .textArea input[type='number'], .field .textArea input[type='checkbox'] {
      background-color: rgba(187, 200, 237, 0.5);
      border-radius: 1.5em;
      height: 1.2em;
      padding: 1em;
      margin: 0.5em;
      flex: 1;
      font-family: inherit;
      border: none;
      font-size: 1em;
      font-weight: 500;
      color: #1F2B3C; }
      .field .textArea input[type='text']::placeholder, .field .textArea input[type='number']::placeholder, .field .textArea input[type='checkbox']::placeholder {
        color: #2A3B52;
        opacity: 0.6;
        font-family: inherit;
        font-weight: 300; }
  .field .radioArea {
    padding: 1em;
    font-family: "Work Sans";
    color: #2A3B52;
    font-weight: 600;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center; }
    .field .radioArea .contratacion {
      display: flex;
      flex: row nowrap;
      justify-content: center;
      align-items: center; }
      .field .radioArea .contratacion input[type='radio'] {
        padding: 1em;
        display: inline-block; }
      .field .radioArea .contratacion label {
        padding: 0 1em 0 0.5em; }
    .field .radioArea .portArea {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 1em 0 0 0; }
      .field .radioArea .portArea .options {
        padding-left: 1em;
        display: flex;
        justify-content: space-evenly;
        align-items: center; }
        .field .radioArea .portArea .options p {
          flex: 1; }
  .field .check {
    padding: 1em;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Work Sans";
    color: #2A3B52;
    font-weight: 600; }
    .field .check input[type='checkbox'] {
      padding: 1em;
      display: inline-block; }
    .field .check label {
      padding: 0 1em 0 0.5em; }
  .field .lastSection {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-weight: 600;
    padding-bottom: 1em; }
    .field .lastSection .dateSection {
      font-family: "Work Sans";
      color: #2A3B52; }
      .field .lastSection .dateSection input[type="date"] {
        background-color: rgba(187, 200, 237, 0.5);
        border-radius: 1.5em;
        height: 1.2em;
        padding: 1em;
        margin: 0.5em;
        color: #2A3B52; }

.btn1 {
  margin-right: 1em;
  width: 15%;
  padding: 0.3em;
  background-color: white;
  background: linear-gradient(to right bottom, rgba(255, 255, 255, 0.4), rgba(255, 255, 255, 0.5));
  border-radius: 1.5em;
  text-align: center;
  border: 2px solid #2A3B52;
  font-family: "Work Sans";
  color: #2A3B52;
  font-weight: 500;
  max-width: 145px;
  cursor: pointer;
  transition: all 0.1s ease-in;
  box-shadow: -3px -3px 10px rgba(255, 255, 255, 0.8), 6px 6px 10px rgba(0, 0, 0, 0.2); }
  .btn1:hover {
    color: #2A3B52;
    background-color: rgba(187, 200, 237, 0.5);
    transform: scale(1.1); }

.btn2 {
  margin-right: 1.5em;
  padding: 0.3em;
  border-radius: 1.5em;
  width: 12%;
  text-align: center;
  border: 2px solid #2A3B52;
  font-family: "Work Sans";
  color: #2A3B52;
  background-color: rgba(187, 200, 237, 0.5);
  font-weight: 500;
  max-width: 120px;
  cursor: pointer;
  transition: all 0.1s ease-in;
  box-shadow: -3px -3px 10px rgba(255, 255, 255, 0.8), 6px 6px 10px rgba(0, 0, 0, 0.2); }
  .btn2:hover {
    transform: scale(1.1); }

main {
  min-height: 100vh;
  background: linear-gradient(to left bottom, #BBC8ED, #D6B7DB);
  display: flex;
  align-items: center;
  justify-content: center; }
  main .glass {
    background-color: white;
    background: linear-gradient(to right bottom, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.5));
    padding: 1em 1em;
    min-height: 95vh;
    width: 80%;
    border-radius: 1.5em;
    backdrop-filter: blur(1.2em); }
    main .glass .tittle {
      padding: 1em 1em;
      margin: auto;
      width: 70%;
      border-radius: 1.5em;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: white;
      background: linear-gradient(to right bottom, rgba(255, 255, 255, 0.4), rgba(255, 255, 255, 0.5)); }
      main .glass .tittle h1 {
        font-family: "Montserrat";
        font-weight: 900;
        color: #1F2B3C;
        font-size: 1.3em; }
    main .glass .form {
      padding: .2em 1.5em;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center; }
    main .glass .sendButtons {
      padding: 0em 1.5em;
      display: flex; }
    main .glass .dataButtons {
      padding: 1em;
      display: flex;
      align-items: center;
      justify-content: center; }
  main .message {
    z-index: 2;
    border-radius: 1.5em;
    background-color: #bbc8ed;
    padding: 1em;
    border: 2px solid #2A3B52;
    font-family: "Work Sans";
    color: #1F2B3C;
    font-weight: 500;
    display: none; }
    main .message #messageText {
      padding: 1em; }
    main .message #messageBtn {
      padding: 0.8em;
      border-radius: 1.5em;
      text-align: center;
      font-family: "Work Sans";
      background-color: #2A3B52;
      cursor: pointer;
      transition: all 0.1s ease-in; }
      main .message #messageBtn h4 {
        color: white;
        font-weight: 400; }
      main .message #messageBtn:hover {
        background-color: white; }
        main .message #messageBtn:hover h4 {
          color: #1F2B3C;
          font-weight: 400; }
  main .visible {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 50%; }
/*# sourceMappingURL=styles.css.map */
