select{
    background-color: $fillColor;
    border-radius: 1.5em;
    padding: 1em;
    margin: 0.5em;
    width: 40%;
    font-family: inherit;
    font-size: 1em;
    color: $fontColor2;
    flex: 1;

}