@import '_reset';
*{
    @include reset;
}

@import '_var&fxs' , '_item', '_btn';

main{
    min-height: 100vh;
    background: linear-gradient(to left bottom, $baseColor1,$baseColor2);
    display: flex;
    align-items: center;
    justify-content: center;
    .glass{
        @include glass(right,bottom,0.3,0.5);
        padding: 1em 1em;
        min-height: 95vh;
        width: 80%;
        border-radius: 1.5em;
        z-index: 2;
        backdrop-filter: blur(1.2em);
        .tittle{
            padding: 1em 1em;
            margin: auto;
            width: 70%;
            border-radius: 1.5em;
            display: flex;
            justify-content: center;
            align-items: center;
            @include glass(right,bottom,0.4,0.5);
            h1{
                font-family: $tittlesFont;
                font-weight: $h1Weight;
                color: $fontColor1;
                font-size: $h1Size;
            }
        }
        .form{
            padding: .2em 1.5em;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
        .sendButtons{
            padding: 0em 1.5em;
            display: flex;
        }
        .dataButtons{
            padding: 1em;
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }
}
